<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/logout">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Sign Out"/>
</form>
<div>
    <form method="post" action="/main">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="text" placeholder="Write any message"/>
        <input type="text" name="tag" placeholder="Write a tag"/>
        <button type="submit">Add</button>
    </form>
</div>
<div>Message list</div>
<form method="post" action="/filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="text" name="filter">
    <button type="submit">Find</button>
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{autorName}}</strong>
    </div>
{{/messages}}
</body>
</html>